# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Task - Lint Cargo

on:
  workflow_dispatch:
  workflow_call:

jobs:
  lint-cargo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo fmt
        run: 
          cargo fmt -- --check

      - name: Cargo clippy
        run:
          cargo clippy -- -D warnings
